/*=== STYLES IMPORTS ===*/
@use "../../styles/Mixin" as *;
@use "../../styles/Variables" as *;
@use "../../styles/Fonts" as *;

/*=== CSS PART ===*/
.signInPageContainer {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  @include flexCenter(center, center);
  flex-direction: column;
  background-color: $backgroundColor;
  z-index: 999;

  .signInFormContainer {
    @include flexCenter(center, center);
    flex-direction: column;
    padding: 2.3rem 4rem 4.2rem 4rem;
    border-radius: 5%;
    background-color: white;
    box-shadow: 0px 0px 0.5rem 2px rgb(214, 214, 214);

    .headingOfSignInForm {
      margin-bottom: 12px;
    }

    .subHeadingOfSignInForm {
      margin-bottom: 25px;
      color: #7c7c7c;
    }

    .SignInForm {
      @include flexCenter(center, center);
      flex-direction: column;

      .signInFormInputField {
        margin-bottom: 20px;
        border: none;
        border-bottom: 1px solid rgb(43, 43, 43);
        outline: none;
        padding: 5px 3px;
      }

      .signInFormSubmitButton {
        margin: 20px 0 35px 0;
        padding: 10px 30px;
        border: none;
        font-weight: bold;
        background-color: $mainColorLight;
        border-radius: 5px;
        box-shadow: 0px 0px 0.5rem 2px rgb(214, 214, 214);

        &:hover {
          cursor: pointer;
          background-color: $mainColor;
        }
      }
    }

    .signUpLinkInSignInForm {
      text-decoration: none;
      color: #7c7c7c;

      &:hover {
        color: $mainColor;
      }
    }

    .forgotPassLinkInSignInForm {
      text-decoration: none;
      color: #7c7c7c;
      margin-bottom: 15px;

      &:hover {
        color: $mainColor;
      }
    }
  }
}

.signInError {
  padding: 7px 15px;
  margin-bottom: 30px;
  border-radius: 5px;
  background-color: rgb(255, 191, 191);
  font-size: 1rem;
}

.signInSuccess {
  padding: 7px 15px;
  margin-bottom: 30px;
  border-radius: 5px;
  background-color: rgb(191, 255, 191);
  font-size: 1rem;
}