/*===STARTING OF Header component PART===*/

.headerOfHeader {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #ffffff;

  .navOfHeader {
    width: 98%;
    height: 3.9rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .navMenuOfHeader {
      width: 33.33%;
      padding-left: 2rem;

      .navMenuButtonOfHeader {
        width: 2.8rem;
        height: 2.8rem;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover,
        &:focus,
        &:active {
          cursor: pointer;
          border-radius: 50%;
          background-color: #bff2df;
        }

        .listImageMenuOfHeader {
          width: 2.65rem;
          height: 2.65rem;
          padding: 8px;
        }
      }
    }

    .logoOfHeader {
      width: 33.33%;
      display: flex;
      justify-content: center;
    }

    .searchOfHeader {
      width: 33.33%;
      padding-right: 2rem;
      display: flex;
      justify-content: right;

      .searchInputOfHeader {
        display: none;
      }

      .searchButtonOfHeader {
        width: 2.8rem;
        height: 2.8rem;
        border: none;
        background-color: transparent;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover,
        &:focus,
        &:active {
          cursor: pointer;
          border-radius: 50%;
          background-color: #bff2df;
        }

        .searchLogoOfHeader {
          width: 2.4rem;
          height: 2.4rem;
          padding: 8px;
        }
      }
    }
  }
}

/*===ENDING OF Header component PART===*/

/*===STARTING OF ListGroup component PART===*/

.ulOfListGroup {
  .liOfListGroup {
    list-style-type: none;
    padding: 1rem 1rem 1rem 2.7rem;
    border-radius: 5px;

    &:hover,
    &:focus,
    &:active {
      cursor: pointer;
      background-color: #bff2df;
    }

    .liLogoOfListGroup {
      padding-right: 17px;

      & img {
        height: 1.2rem;
      }
    }
  }
}

/*===ENDING OF ListGroup component PART===*/
