/*=== STARTING OF IMPORTS ===*/

@use './Mixin' as *;
@use "./Variables" as *;
@use "./Fonts";

/*=== ENDING OF IMPORTS ===*/

/*===STARTING OF Header component PART===*/

.headerOfHeader {
  @include flexCenter(center, inherit);

  .navOfHeader {
    width: 98%;
    height: 3.9rem;
    @include flexCenter(space-between, center);

    .navMenuOfHeader {
      width: 33.33%;
      padding-left: 2rem;

      .navMenuButtonOfHeader {
        width: 2.8rem;
        height: 2.8rem;
        @include flexCenter(center, center);

        &:hover,
        &:focus,
        &:active {
          cursor: pointer;
          border-radius: 50%;
          background-color: $mainColorLight;
        }

        .listImageMenuOfHeader {
          width: 2.65rem;
          height: 2.65rem;
          padding: 8px;
        }
      }
    }

    .logoOfHeader {
      width: 33.33%;
      @include flexCenter(center, inherit);
    }

    .searchOfHeader {
      width: 33.33%;
      padding-right: 2rem;
      @include flexCenter(right, inherit);

      .searchInputOfHeader {
        display: none;
      }

      .searchButtonOfHeader {
        width: 2.8rem;
        height: 2.8rem;
        border: none;
        background-color: transparent;
        @include flexCenter(center, center);

        &:hover,
        &:focus,
        &:active {
          cursor: pointer;
          border-radius: 50%;
          background-color: $mainColorLight;
        }

        .searchLogoOfHeader {
          width: 2.3rem;
          height: 2.3rem;
          padding: 8px;
        }
      }
    }
  }
}

/*===STARTING OF Divider component PART===*/

.lineOfDivier {
  position: fixed;
  // padding-top: 3.9rem;
}

/*===ENDING OF Divider component PART===*/

/*===ENDING OF Header component PART===*/

/*===STARTING OF Button component PART===*/

.btnOfButton {
  background-color: $mainColorLight;
  border: 1px solid $mainColorLight;
  margin-bottom: 15px;
  border-radius: 5px;
  margin-left: 2.7rem;
  padding: 0.5rem 1.5rem;
  @include flexCenter(center, center);

  &:hover,
  &:focus,
  &:active {
    cursor: pointer;
    background-color: $mainColor;
  }

  .pOfButton {
    font-weight: bold;
    width: 100%;
  }

  .addImageOfButton {
    height: 1.2rem;
    float: left;
    padding-right: 9px;
  }
}

/*===ENDING OF Button component PART===*/

/*===STARTING OF ListGroup component PART===*/

.ulOfListGroup {
  .liOfListGroup {
    list-style-type: none;
    padding: 1rem 1rem 1rem 2.7rem;
    border-radius: 5px;

    &:hover,
    &:focus,
    &:active {
      cursor: pointer;
      background-color: $mainColorLight;
    }

    .liLogoOfListGroup {
      @include flexCenter(center, center);
      float: left;
      padding-right: 17px;

      & .liLogoImageOfListGroup {
        height: 1.2rem;
      }
    }
  }
}

/*===ENDING OF ListGroup component PART===*/

/*===STARTING OF Copyright component PART===*/

.containerOfCopyright {
  width: 100%;
  @include flexCenter(center, inherit);

  .peragraphOfCopyright {
    color: rgb(119, 119, 119);
    font-family: SourceSansPro-Light;
    font-weight: bold;
    font-size: 0.8rem;
  }
}

/*===ENDING OF Copyright component PART===*/
