@use "./Mixin" as *;

/*===STARTING OF Pop-up module===*/

.pop-up-inEditMode {
  position: fixed;
  width: 50dvw;
  height: 60dvh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 0.2rem 0.1rem rgb(163, 163, 163);
  z-index: 7;

  .upper-part-OfCard {
    overflow-y: scroll;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .lower-part-OfCard {
    display: block;
    border-top: none;

    .lower-part-container-OfCard {
      @include flexCenter(left, center);

      .element-in-lower-part-OfCard {
        margin-right: 15px;
      }
    }
  }

  &:hover {
    cursor: auto;

    .lower-part-OfCard {
      animation: none;
    }
  }
}

/*===ENDING OF Pop-up module===*/
