@font-face {
  font-family: SourceSansPro-SemiBold;
  src: url(../assets/Fonts/SourceSansPro-SemiBold.ttf);
}

@font-face {
  font-family: SourceSansPro-Light;
  src: url(../assets/Fonts/SourceSansPro-Light.ttf);
}

@font-face {
  font-family: Manrope-Regular;
  src: url(../assets/Fonts/Manrope-Regular.ttf);
}

@font-face {
  font-family: Lato-Regular;
  src: url(../assets/Fonts/Lato-Regular.ttf);
}
