@font-face {
  font-family: SourceSansPro-SemiBold;
  src: url(../assets/Fonts/SourceSansPro-SemiBold.ttf);
}

@font-face {
  font-family: SourceSansPro-Light;
  src: url(../assets/Fonts/SourceSansPro-Light.ttf);
}