/*=== STARTING OF IMPORTS ===*/

@use "./Variables" as *;

/*=== ENDING OF IMPORTS ===*/

@mixin flexCenter($justifyContent, $alignItems) {
  display: flex;
  justify-content: $justifyContent;
  align-items: $alignItems;
}

// Items wraper of button  in lower part OfCard
@mixin cardButtonItemsWraper($padding) {
  position: absolute;
  display: none;
  padding: $padding;
  top: 11px;
  left: 11px;
  z-index: 999;
}

// Items of button in lower part OfCard
@mixin cardButton($padding) {
  padding: $padding;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 1px 1px 0.6rem 0.1rem $cardBorderColor;
}
