/*=== STARTING OF IMPORTS ===*/

@import url(./_Fonts.scss);
@import url(./_Components.scss);

/*=== ENDING OF IMPORTS ===*/

/*===STARTING OF GLOBAL PART===*/

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;

  body {
    width: 100%;
    height: 100%;
    font-family: SourceSansPro-SemiBold;

    #root {
      width: 100%;
      height: 100%;
    }
  }
}

/*===ENDING OF GLOBAL PART===*/

/*=== STARTING OF HEADER PART ===*/

header {
  width: 100%;
  display: block;
  position: fixed;
}

/*=== ENDING OF HEADER PART ===*/

/*=== STARTING OF MAIN_BODY PART ===*/

#main_body {
  width: 100%;
  height: 100%;
  padding-top: 3.9rem;
  display: flex;
  justify-content: center;

  .main_container {
    width: 98%;
    height: 100%;

    .leftPart {
      width: 17.7%;
      height: 100%;
      float: left;
      padding-top: 1rem;
      position: fixed;

      .topPartOfLeftPart{
        height: 83%;
      }
    }

    .rightPart {
      width: 82%;
      height: 100%;
      float: right;
      display: flex;
      justify-content: center;
      align-items: center;

      .elementsContainer {
        width: 100%;
        height: 100%;
        padding: 2rem;
      }
    }
  }
}

/*=== ENDING OF MAIN_BODY PART ===*/
