/*=== STARTING OF IMPORTS ===*/

@use "./Components";
@use "./Mixin";
@use "./Variables" as *;
@use "./Fonts";

/*=== ENDING OF IMPORTS ===*/

/*===STARTING OF CSS PART===*/

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  body {
    font-family: SourceSansPro-SemiBold;
    overflow-x: hidden;

    #root {
      header {
        width: 100dvw;
        display: block;
        position: fixed;
        border-bottom: 1px solid #e2e2e2;
        background-color: $whiteBG;
        z-index: 999;
      }

      #mainBody {
        width: 100dvw;
        height: 100dvh;
        padding-top: 3.9rem;
        @include Mixin.flexCenter(center, inherit);

        .mainContainer {
          width: 98%;

          .leftPart {
            width: 17.7%;
            height: 100dvh - 10.3dvh;
            float: left;
            padding-top: 1.5rem;
            position: fixed;
            border-right: 1px solid #ececec;

            .leftPartContainer {
              position: relative;
              width: 100%;
              height: 100%;

              .leftPartLowerSection {
                position: absolute;
                height: auto;
                right: 0;
                left: 0;
                bottom: 1rem;
                margin: auto;
              }
            }
          }

          .rightPart {
            width: 82%;
            height: 100%;
            float: right;
            @include Mixin.flexCenter(center, center);

            .elementsContainer {
              width: 100%;
              height: 100%;

              .mainContainerOfCard {
                width: 100%;
                height: 100%;
                padding: 2rem;
                display: grid;
                grid-gap: 1rem;
                grid-template-columns: repeat(auto-fill, minmax(13.8rem, auto));
                grid-auto-rows: fit-content(100%);
                grid-auto-flow: dense;
              }
            }
          }
        }
      }
    }
  }
}

/*===ENDING OF CSS PART===*/
