/*=== STARTING OF IMPORTS ===*/

@use "./Components";
@use "./CSS_Modules";
@use "./Mixin";
@use "./Variables" as *;
@use "./Fonts" as *;

/*=== ENDING OF IMPORTS ===*/

/*===STARTING OF CSS PART===*/

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  body {
    font-family: SourceSansPro-SemiBold;
    overflow-x: hidden;

    #root {
      header {
        width: 100dvw;
        display: block;
        position: fixed;
        border-bottom: 1px solid #e2e2e2;
        background-color: #ffffff;
        z-index: 4;
      }

      #main-body {
        width: 100dvw;
        height: 100dvh;
        padding-top: 3.9rem;
        @include Mixin.flexCenter(center, inherit);

        .main-container {
          position: relative;
          width: 98%;

          .left-part {
            width: 14.5rem;
            height: 100dvh - 10.3dvh;
            float: left;
            padding-top: 1.5rem;
            position: fixed;
            border-right: 1px solid #ececec;

            .left-part-container {
              position: relative;
              width: 100%;
              height: 100%;

              .left-part-lower-section {
                position: absolute;
                height: auto;
                right: 0;
                left: 0;
                bottom: 1rem;
                margin: auto;
              }
            }
          }

          .right-part {
            position: absolute;
            height: 100%;
            top: 0;
            bottom: 0;
            left: 14.5rem;
            right: 0;
            margin: auto;
            float: right;
            @include Mixin.flexCenter(center, center);

            .elements-container {
              width: 100%;
              height: 100%;

              .main-container-OfCard {
                position: relative;
                width: 100%;
                height: 100%;
                padding: 1.4rem;
                display: grid;
                grid-gap: 1rem;
                grid-template-columns: repeat(auto-fill, minmax(13.8rem, auto));
                grid-auto-rows: fit-content(100%);
                grid-auto-flow: dense;
              }
            }
          }
        }
      }
    }
  }
}

/*===ENDING OF CSS PART===*/
