@font-face {
  font-family: Manrope-Regular;
  src: url(../../public/assets/Fonts/Manrope-Regular.ttf);
}

@font-face {
  font-family: Lato-Regular;
  src: url(../../public/assets/Fonts/Lato-Regular.ttf);
}
