/*=== STYLES IMPORTS ===*/
@use "./Variables" as *;

/*=== CSS PART ===*/
@mixin flexCenter($justifyContent, $alignItems) {
  display: flex;
  justify-content: $justifyContent;
  align-items: $alignItems;
}

// Items Wrapper of button  in lower part OfCard
@mixin cardButtonItemsWrapper($padding) {
  position: absolute;
  display: none;
  padding: $padding;
  z-index: 999;
}

// Items of button in lower part OfCard
@mixin cardButton($padding) {
  padding: $padding;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 1px 1px 0.6rem 0.1rem $cardBorderColor;
}