/*=== CSS PART ===*/
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  max-width: 100vw;
  font-family: Lato-Regular;
  overflow-x: hidden;
}

p {
  font-family: Lato-Regular;
}

input,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Manrope-Regular;
}

a {
  color: inherit;
  text-decoration: none;
  font-family: Lato-Regular;
}

li {
  list-style-type: none;
}
