/*=== STYLES IMPORTS ===*/
@use "../../styles/Mixin" as *;

/*=== CSS PART ===*/
.containerOfCopyright {
  position: absolute;
  top: 93%;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 100%;
  @include flexCenter(center, center);

  .textOfCopyright {
    color: rgb(209, 209, 209);
    font-weight: bold;
    font-size: 0.8rem;
  }
}