/*=== STYLES IMPORTS ===*/
@use "../../styles/Mixin" as *;

/*=== CSS PART ===*/
.containerOfCopyright {
  width: 100%;
  @include flexCenter(center, inherit);

  .textOfCopyright {
    color: rgb(119, 119, 119);
    font-weight: bold;
    font-size: 0.8rem;
  }
}
